body{
    
}

.navbar{
    justify-content: space-between;
    /* padding-left: 4rem; */
    /* padding-right: 4rem; */
}

.nav-item{
    padding-right: 4rem;
}

.btn {
    font-size: 1rem;
    border-radius: 25px;
}

.content{
    margin-left: 7rem;
}

.tableResult{
    color: black;
}