html{
    height: 100%;
}
body{
    height: 100%;
    background-image: url(https://www.turn-on.de/media/cache/article_images/media/cms/2019/09/intel-amd-motherboard-mainboard-prozessor-chip.jpg?763189);
    background-size: 100%;
    background-repeat: no-repeat;
}

.navbar{
    justify-content: space-between;
    padding-left: 8rem;
    padding-right: 4rem;
}

.nav-item{
    padding-right: 4rem;
}

.jumbotron{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.623);
    background-size: 100%;
    color: rgb(255, 255, 255);
    font-size: large;
    
}

.jumbotron .container h1{
    font-size: 3rem;
}

.jumbotron .container p{
    font-family: open sans,sans-serif;
    font-size: 1.50em;
    
}

.jumbotron .container .text-center button{
    /*font-size: 1.50rem;*/
    font-weight: bold;
}
.btn {
    font-size: 1rem;
    border-radius: 25px;
}


footer div{
    width: 1rem;
    background-color: white;
}

.content{
    margin-left: 7rem;
}