body {
    font-weight: normal;
}

.sidebar[data-color="purple"] li.active>a{
    background-color: #0d6efd;
    box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(13 110 253 / 40%);
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    margin: 0.3125rem 1px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    box-shadow: 0 2px 2px 0 rgba(13,110,253, 0.14), 0 3px 1px -2px rgba(13,110,253, 0.2), 0 1px 5px 0 rgba(13,110,253, 0.12);
}

.btn.btn-primary:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn.btn-primary:focus,
.btn.btn-primary.focus,
.btn.btn-primary:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn.btn-primary:active,
.btn.btn-primary.active,
.open>.btn.btn-primary.dropdown-toggle,
.show>.btn.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    box-shadow: 0 2px 2px 0 rgba(13,110,253, 0.14), 0 3px 1px -2px rgba(13,110,253, 0.2), 0 1px 5px 0 rgba(13,110,253, 0.12);
}

.btn.btn-primary:active:hover,
.btn.btn-primary:active:focus,
.btn.btn-primary:active.focus,
.btn.btn-primary.active:hover,
.btn.btn-primary.active:focus,
.btn.btn-primary.active.focus,
.open>.btn.btn-primary.dropdown-toggle:hover,
.open>.btn.btn-primary.dropdown-toggle:focus,
.open>.btn.btn-primary.dropdown-toggle.focus,
.show>.btn.btn-primary.dropdown-toggle:hover,
.show>.btn.btn-primary.dropdown-toggle:focus,
.show>.btn.btn-primary.dropdown-toggle.focus {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:hover {
    box-shadow: 0 14px 26px -12px rgba(13,110,253, 0.42), 0 4px 23px 0px rgba(13,110,253, 0.12), 0 8px 10px -5px rgba(13,110,253, 0.2);
}

.add-back-btn.btn.btn-default{
    color: #000;
    background-color: #546c5500;
    box-shadow: none;
}



.add-back-btn.btn.btn-default i{
    font-size: 2rem;
}

.form-control:focus {
    background-color: #fff;
}

.form-control, .is-focused .form-control {
    background-image: none;
    color: #495057;
}

.text-primary {
    color: #0d6efd !important;
}

.card {
    font-size: 1rem;
}

.sidebar .nav p {
    transition: none;
}

.table thead th{
    font-size: 1.25rem;
}

.card .card-header-primary:not(.card-header-icon):not(.card-header-text){
    background: linear-gradient(60deg, #0d6efd, #0c5fdd);
    box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(13 110 253 / 40%);
}