body{
    background-image: url("https://www.turn-on.de/media/cache/article_images/media/cms/2019/09/intel-amd-motherboard-mainboard-prozessor-chip.jpg?763189");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    object-fit: contain;
}

body .transparent-layer .container-fluid{
    margin-left: 80px;
}

.display-4{
    font-weight: bold;
}

body .transparent-layer .container-fluid p{
    line-height: 1.5;
}