body{
    /* background-image: url(bck1.jpg); */
}

.container{
    width: fit-content;
    flex-direction: column;
    padding: 20px;
}
.container .progressBar{
    align-items: center;
}

.container .progressBar img{
    width: 50px;
    height: 50px;
    position: relative;
    border: 5px solid #ccc;
    border-radius: 50%;
}

.container .progressBar .progress{
    background-size: cover;
    width: 80px;
    height: 5px;
}

.container .card .card-header{
    background-color: white;
    border: none;
    padding: 16px;
}

.container .card .card-header #step_title{
    text-align: start;
    margin: 0;
}

.container .card .card-body .filter-bar{
    justify-content: space-between;
}

.container .card .card-body .filter-bar .dropList .dropList-menu{
    list-style-type: none;
}

.container .card .card-body .filter-bar .dropList .dropList-menu{
    display: none;
    width: fit-content;
    position: absolute;
    background-color: #f1f1f1;
    
}

.container .card .card-body .filter-bar .dropList:hover .dropList-menu{
    display: block;
}

.container .card .card-body .below-bar{
    justify-content: space-between;
}

.container .card .card-body .below-bar .product_qty_instock{
    margin-top: 6px;
    color: #6c757d;
}

.container .card .card-body .below-bar .btn-group .btn-outline-secondary { /*.btn-outline-secondary is bootstrap class*/
    color: #6c757d transparent;
    border-color: white;
}

.container .card .card-footer{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: none;
    padding: 16px;
}

.container .card .card-footer .btn{

    width: 100px;
    height: 40px;

}