body main .conatiner-fluid{
    margin: 5px 100px;
}

@media (max-width: 1024px) {
    /*disable filter side-bar*/
    body main .conatiner-fluid .filter{
        display: none;
    }
    /*Remove margin since it is already small*/
    body main .conatiner-fluid{
        margin: 0px;
    }
    
    /*Product Edit*/
    .product{
        padding: 9px;
    }
    
    .product .product-img img{
        width: 80px;
        height: auto;
        margin-right: 0 ;
    }

    .product .product-detail .description{
        font-size: 10px;
    }

    .product .product-detail .price{
        font-size: 10px;
    }

    .product .product-detail .detailBtn{
        font-size: 10px;
    }
    
}