body{
   
    
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.u-footer .u-text-1 {
    width: 417px;
    margin-top: 49px;
    margin-bottom: 49px;
    margin-left: auto;
    margin-right: auto;
}

.u-grey-80, .u-body.u-grey-80, .u-container-style.u-grey-80:before, .u-table-alt-grey-80 tr:nth-child(even) {
    color: #ffffff;
    background-color: #333333;
}

.footer {
    background-image: none;
}

.navbar{
    justify-content: space-between;
    padding-left: 8rem;
    padding-right: 4rem;
}

.nav-item{
    padding-right: 4rem;
}

.jumbotron {
    opacity:100%;
    background-color: rgba(0, 0, 0, 0.507);
    
}

.jumbotron img{
   shape-image-threshold:1;
   
}

#builder{
    border-radius: 20px;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 90px;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.jumbotron {
    padding: 2rem 2rem;
   
}

.carousel-caption{
    margin-bottom: 10rem;
    
}




