
.jumbotron{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.623);
    color: rgb(255, 255, 255);
    font-size: large;
    margin-bottom: 0;
    padding-top: 150px;
    padding-bottom: 150px;
    .content{
        margin-left: 6rem;
        .mb-4{
            .btn{
                border-radius: 25px;
            }
        }
    }
    
}