.myNav{
    background-color: rgba(0, 0, 0, 1);
    justify-content: space-between;
    // padding-left: 6rem;
    // padding-right: 4rem;
    .navbar-brand{
        padding-left: 5rem;
    }
    .collapse{
        .nav-item{
            padding-right: 5rem;
        }
    }
    a{
        color: white;
    }
}