.signup{
    .col-sm{
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin-top: 80px;


    .signinbox{
        
        width: 510px;
        height: 700px;
        background-color: rgb(0, 0, 0);
        margin-bottom:10% ;

        form{
            
            background-color: rgb(0, 0, 0);        
            margin: 10%;
            color: rgb(255, 255, 255);

            div .col {
                padding: 0 ;
             }
             div .col-sm{
                 padding: 0;
             }
            
        }

        .btn{
            margin-top: 1rem;
            width: 50%;
            font-weight: bold;
            
        }
       

    }
}
}


    


    
    
    
    
  

   

    










