.signup{
    margin-top: 0rem;
    div.card{
        background-color: rgba(0, 0, 0, 0.459);

        form{
            margin: 10%;
            color: white;

            div .col {
                padding: 0 ;
             }
             div .col-sm{
                 padding: 0;
             }
            
        }

        .btn{
            margin-top: 2rem;
            width: 10rem;
            font-weight: bold;

        }

    }
}


    


    
    
    
    
  

   

    










