.control-bar {
    display: flex;
    justify-content: space-between;
    background-color: #cccccc;
    border-radius: 6px;
}

.control-bar .displayOption{
    display: flex;
    align-self: center;
}
.control-bar .sortOption .sortIn{
    margin-right: 16px;
}
.control-bar .sortOption .sortIn .custom-select{
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}