$primary-color:rgb(193, 194, 241);




body{
    background-image: url("https://www.turn-on.de/media/cache/article_images/media/cms/2019/09/intel-amd-motherboard-mainboard-prozessor-chip.jpg?763189");
    

    .container{
        margin-top: 10rem;
        form{
            margin: 10%;
            color: white;
    
    
            div .col {
                padding: 0 ;
             }
             div .col-sm{
                 padding: 0;
             }
             
             div.card{
                 background-color: rgba(0, 0, 0, 0.459);
             }
         
             .btn{
                 margin-top: 2rem;
                 width: 10rem;
                 font-weight: bold;
         
             }
            
        }
        
    
    }  



}





