html{
    height: 100%;
}
body{
    height: 100%;
    background-image: url(./../img/donate.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar{
    justify-content: space-between;
    padding-left: 8rem;
    padding-right: 4rem;
}

.nav-item{
    padding-right: 4rem;
}

.jumbotron{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.623);
    background-size: 100%;
    color: rgb(255, 255, 255);
    font-size: large;
    
}

.jumbotron .container h1{
    font-size: 3rem;
}

.jumbotron .container p{
    font-family: open sans,sans-serif;
    font-size: 1.50em;
    
}

.jumbotron .container .text-center button{
    /*font-size: 1.50rem;*/
    font-weight: bold;
}
.btn {
    font-size: 1rem;
    border-radius: 25px;
}


footer div{
    width: 1rem;
    background-color: white;
}

.content{
    margin-left: 7rem;
}

.card-body {
    background-color: rgba(0, 0, 0, 0.096);
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    color: white;
    width: 20rem;
    height: 20rem;
    text-align: center;
    border-radius: 2rem;
}

.btn {
    font-size: 1rem;
    border-radius: 25px;

}